@import "global.scss";
@import "variables.scss";
@import "typography.scss";


#root {
    width: 100%;
    height: 100%;
}

canvas {
    width: 100vw !important;
    height: 100vh !important;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
}

body,
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overscroll-behavior: none;
} 

.ui {
    position: fixed;
    bottom: 1em;
    left: 1em;
    z-index: 1;
    color: #FFF;
}


svg {
    position: fixed;
    top:0;
    z-index: 100000;
    left:0;
    pointer-events: none;
    mix-blend-mode: difference;
}


.page {
    position: fixed;
    top:0;
    left:0;
    text-align: right; 
    scroll-behavior: smooth;
    right:0;
    z-index: 1000;  
    color:#FFF;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.dots {
    position: fixed;
    right: 15vw;
    top: 50%;
    z-index: 111111;
    transform: translateY(-50%); 
    transition: all .4s;

    &.a li {
        animation:  dotin both .3s var(--dotdelay);
    }

    li {
        --dotdelay: .2s;
        width: .45em;
        height: .45em;  
        background-clip: content-box;
        opacity: .2;
        border: .25em solid transparent; 
        border-left-width: 1em;
        border-right-width: 1em;
        box-sizing: content-box;
        color: transparent; 
        transition: all .4s;
        position: relative;  
        opacity: 0;

        &::after{
            content: "";
            display: block;
            width: 100%;
            border-radius: 50%;   
            background-color: #FFF;
            display: block;
            height: 100%;
        }

        &:hover {
            opacity: 1 !important;
            z-index: 1;
            transform: scale(2);
        }

        &.a {
            opacity: 1 !important;
        }
    }
}

.block {
    height: 100vh;
    display: flex; 
    padding-right: 20vw;
    flex-direction: column;
    //scroll-snap-align: center;
    justify-content: center;
    align-items: flex-end;
    //scroll-snap-stop: always;
}


@keyframes dotin {
    from {
        opacity: 0;
        transform: translateX(1.5em);
    }
    to {
        opacity: .2;
        transform: translateX(0);
    }
}