@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Roboto:wght@300;900&display=swap');

html {
    font-family: var(--font-serif);
    font-weight: 400;
    font-size: 1em;
    color: var(--text-color);
}